.card {
  max-width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.max {
  color: #777;
  font-weight: bold;
  display: inline-block;
}
.min {
  color: #aaa;
  display: inline-block;
}
.date {
  color: #abc;
}
.degrees {
  display: flex;
  gap: 1rem;
}
