.header {
  padding: 0.7rem 0.2rem;
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 160px;
  border-bottom: 0.4rem solid grey;
}
